nav.navbar {
  opacity: 0.8;
}
div#non-nav {
  padding-top: 70px;
}
body {
  background-image: url("/images/wine-stain.jpg")
} 
/* Add padding to main section to move down out of way of nav bar! Must be around a container or div?!*/
