nav.navbar {
  opacity: 0.8;
  background-color: #3d0101;
}
div.non-nav {
  padding: 48px 80px 80px 80px;
}
body {
  background-image: url("./images/wine-stain.jpg")
}
div.main-heading {
  background-color: white;
  opacity: 0.8;
}

div.intro {
  background-color: white;
  opacity: 0.9;
  padding: 40px;
  font-size: 12pt;
}
.navbar-brand {
  font-color: white;
}
div.review {
  background-color: #e8b2b8;
  background-color: white;
  padding: 15px 15px 10px 15px;
  /*background-image: url("./images/wine-stain.jpg")*/
  //*opacity: 0.9;*//
}
.contact-form {
  contact-form fieldset {width:40%;}
}
a.useful {
  color: #800000;
  font-style: bold;
}

.table.table-main-calc {
  background-color: white;
}

container.useful-links-intro {
  background-color: white;
}

.h1 {

  font-size: 40px;
}



.footer {
   position: relative
   height: auto;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
   opacity: 0.8;
}

.wrap {
  display: table;
  width: 100%;
  height: 100%; /* need to set height for this to work in Chrome */
}
.cell-wrap {
  display: table-cell;
  vertical-align: top;
  height: 100%;
}
.cell-wrap.left {
  width: 70%;
  padding-right: 10px;  /* if you need some whitespace */
}
li {
  list-style-type: none;
}
