nav.navbar {
  opacity: 0.8;
  background-color: #3d0101;
}
div#non-nav {
  padding: 48px 80px 80px 80px;
}
body {
  background-image: url("./images/wine-stain.jpg")
}
div.intro {
  background-color: white;
  opacity: 0.9;
  padding: 15px 15px 10px 15px;
  font-size: 12pt;
}
.navbar-brand {
  font-color: white;
}
div.review {
  background-color: white;
  opacity: 0.9;
}
contact-form {
  contact-form fieldset {width:40%;}
}

table.table-main-calc {
  background-color: white;
}

//*
th {
  background-color: white;
}
*//


.footer {
   position: relative
   height: auto;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
   opacity: 0.8;
}

.wrap {
  display: table;
  width: 100%;
  height: 100%; /* need to set height for this to work in Chrome */
}
.cell-wrap {
  display: table-cell;
  vertical-align: top;
  height: 100%;
}
.cell-wrap.left {
  width: 70%;
  padding-right: 10px;  /* if you need some whitespace */
}
